<div class="flex-1 h-full w-full flex items-center justify-center bg-muted/30 relative">
  @if (isPreviewing()) {
    <div class="absolute top-4 right-4 flex items-center gap-2 text-sm text-muted-foreground">
      <ng-icon name="lucideLoader" size="16" class="animate-spin" />
      Previewing...
    </div>
  }

  <div class="flex align-middle justify-center h-full w-full overflow-hidden">
    <img #imageElement [src]="url()" class="max-h-full max-w-full object-contain rounded-lg" />
  </div>
</div>